a {
    all: unset;
}

@font-face {
  font-family: 'AssaFontChalk';
  src: url('../fonts/Assa Fonts-MonsterFonts-Type Of Chalk.otf') ;
}

@font-face {
  font-family: 'LemonMilk-Bold';
  src: url('../fonts/LEMONMILK-Bold.otf') ;
}

@font-face {
  font-family: 'LemonMilk-Regular';
  src: url('../fonts/LEMONMILK-Regular.otf') ;
}

@font-face {
  font-family: 'LemonMilk-Light';
  src: url('../fonts/LEMONMILK-Light.otf') ;
}

body{
  background: url('../images/FONDO.png') ; 
  background-size: cover;
  background-repeat: repeat;
  background-position: top;
  font-family: sans-serif;
}

#yacabron{
  width: 399px;
  height: auto;
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dias{
  font-family: 'LemonMilk-Regular';
  font-size: 5;
  text-align: center;
  position: relative;
  bottom: 40%;
  color: white;
}

.seguinos{
  font-family: 'LemonMilk-Light';
  position: relative;
  bottom: 30%;
  text-align: center;

  color: white;
}

.instagram{
  position: relative;
  font-family: 'AssaFontChalk';
  font-size: 90px;
  color: white;
  text-align: center;
  

}

#instagramicon{
	width: 70px;
  height: auto;
  right:auto;
  left: 30%;
}

#txtinsta{
    text-align: center;
}


.maps{
  margin-top:20px;
  position: relative;
  font-family: 'LemonMilk-Light';
  font-size: 30px;
  color: white;
  text-align: center;
  right: 2%;

}
  


#mapsicon{
  position: relative;
  width: 70px;
  height: auto;

  
  bottom: 0.3%;
  
}




